[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
masonite = ">=2.1.0,<2.2.0"
"psycopg2-binary" = "*"
pyjwt = "*"
python-slugify = "*"

[dev-packages]
pylint = "*"
masonite-cli = "*"
codecov = "*"
coverage = "*"

[requires]
python_version = "3.7"
