[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"psycopg2-binary" = "*"
python-slugify = "*"
masonite-api = "*"
"eb62984" = {file = "https://github.com/MasoniteFramework/core/archive/develop.zip"}
PyJWT = "*"

[dev-packages]
pylint = "*"
masonite-cli = "*"
