[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
masonite = ">=2.1.0,<2.2.0"
masonite-api = "*"
"psycopg2-binary" = "*"
pyjwt = "*"

[dev-packages]
pylint = "*"
masonite-cli = "*"

[requires]
python_version = "3.7"
